    <div class="ui seconday menu">
  		<div class="item"><%= link_to "Home", root_path %></div>
  		<a class="item">Messages</a>
			<a class="item">Friends</a>
  		<div class="right menu">
    		<div class="item">
      			<div class="ui transparent icon input">
        			<input type="text" placeholder="Search...">
        			<i class="search link icon"></i>
      			</div>
    		</div>
			<% if user_signed_in? %>
			  <div class="item"><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></div>
			<% end %>
			<% if !user_signed_in? %>
			  <div class="item"><%= link_to "Login", new_user_session_path %></div>
			<% end %>
  		</div>
	</div>